[Unit]
Description=Tomcat {{ tomcat_major_version }} Service
Documentation=https://tomcat.apache.org

[Service]
User=tomcat{{ tomcat_major_version }}
Group=tomcat{{ tomcat_major_version }}
ExecStart=/opt/tomcat{{ tomcat_major_version }}/bin/catalina.sh run
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
